/* About.css */
.about {
  padding: 50px 20px; /* Added padding and increased height */
  background-color: #f8f8f8; /* Background color for better contrast */
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff; /* White background for content */
  padding: 30px;
  border-radius: 10px; /* Rounded corners for a premium look */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333; /* Darker title color for contrast */
}

.about-subtitle {
  font-size: 2rem;
  margin-top: 30px;
  color: #555; /* Subtitle color */
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #444; /* Text color */
}

.about-list {
  list-style-type: none;
  padding: 0;
}

.about-list-item {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555; /* List item color */
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .about-content {
    padding: 20px; /* Adjusted padding for smaller screens */
  }

  .about-title {
    font-size: 2rem;
  }

  .about-subtitle {
    font-size: 1.8rem;
  }

  .about-text,
  .about-list-item {
    font-size: 1rem;
  }
}
