body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
  margin: 0;
}

.wrapper {
  flex: 1; /* Make the wrapper grow and take remaining space */
}

.footer {
  background-color: #333;
  color: white;
  padding: 30px 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  max-width: 300px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #ffd700;
}

.social-icons a {
  margin-right: 10px;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #555;
  margin-top: 20px;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      text-align: center;
      max-width: none;
      width: 80%;
      margin: 0 auto 20px;
  }
}
