/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
}

/* Home Component Styles */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 1s ease-in-out; /* Add transition for smooth image change */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 255, 0.2); 
  z-index: -1;
}

.hero {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 20px;
  backdrop-filter: blur(10px); /* Apply blur effect to the entire .hero div */
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero button {
  background-color: #ffd700;
  color: #333;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.hero button:hover {
  background-color: #333;
  color: #ffd700;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .hero {
    padding: 40px 20px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero button {
    font-size: 1rem;
  }
}
