
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
html{
  /* 1rem = 16px */
  font-size: 62.5%;
  overflow: hidden;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}


/*Headers Css*/
.header{
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.logo{
  height: 10rem;
}

/* Navbar bar css*/
.navbar-list{
 display: flex;
 gap: 4.8em;
 list-style: none;
}

.navbar-links:link,
.navbar-links:visited{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  color:white;
  transition: all 0.3s;
  
}

.navbar-links:hover,
.navbar-links:active{
  color: hsl(61, 86%, 72%);
  
}
.mobile-navbar-btn{
  /* display: none; */
  background: transparent;
  cursor: pointer;
}
.mobile-nav-icon{
  width: 4rem;
  height: 4rem;
  color: hsl(61, 86%, 72%);
}
.mobile-nav-icon[name="close-outline"]{
  display: none;
}

/* @media(max-width:62em){
  .mobile-navbar-btn{
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }
  .header{
    position: relative;
  }
  .header .logo{
    width: 90% ;
  }
  .navbar{
    width: 100%;
    height: 100vh;
    background-color: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transform: translate(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

  }
  .navbar-list{
    flex-direction: column;
    align-items: center;

  }
  .activee .navbar{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }} */
.home-container{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
}
.home-container-item{
  border: 2px solid black;
  padding: 10rem;
  }
  .home-container-item h1 {
    color: white;
    font-size: 3rem;
    word-spacing: 1rem;
    letter-spacing: 0.2rem;
  }
.welcome-note-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex-direction: column;
  
  }
.welcome-note{
  font-size: 1.5rem;
  margin: 0.4rem;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-style:oblique;
  color:  hsl(61, 86%, 72%);
}
.about-container{
  padding: 10rem;
  background-color: black;
  width: 55rem;
  height: 50rem;
  box-shadow: 5px 10px 18px hsl(61, 86%, 72%);
}
.about-content h1{
  margin: 2rem 0rem;
  color: white;

}
.about-content p{
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  line-height: 2rem;
  text-align: justify;
  color: white;
  
}
.about-page-image{
  width: 35rem;
  height: 42;
  
}
.about-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.about-page-image img{
  width: 35rem;
  height: 35rem;
  margin: 2rem;
}

.footer-text h4{
  /* color: white; */
  font-size: 1.5rem;
  font-weight: 100;
  
}
.footer-text-heading h4{
  /* color: white; */
  font-size: 1.5rem;
  font-weight: 100;
  
}
.footer-text h1{
  /* color: white; */
  font-size: 2.5rem;
  
}
.footer-text-heading h1{
  /* color: white; */
  font-size: 2.5rem;
  
}
.footer-container{
  display: flex;
  justify-content:space-evenly;
  background-color: hsl(61, 86%, 72%);
  height: 20rem;
  line-height: 3rem;
  
}
.footer-text{
  justify-content: center;
  padding: 4rem;

}
.footer-text-heading{
  justify-content: center;
  padding: 3rem;
  margin-bottom: rem;
}
.service-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70rem;
  background-color: black;

}
.service_disk{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height:50rem;
  border-radius: 3rem;
  background-color: hsl(61, 86%, 72%);
}
.service-heading{
  /* border: 2px solid white; */
  color:white;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 9rem;
  
}
.service-item-container{
  /* border: 2px solid white; */
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
}
.service-picture-container{
  /* border: 2px solid white; */
  width: 22rem;
  height:17rem;
  overflow: hidden;
}
.service-picture-container img{
  /* border: 2px solid white; */
  width: 22rem;
  height: 17rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: black;
}
.service-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
}
.service-headings h2{
  color: black;
  font-weight: 200;
  font-size: 2rem;

}
.service-headings{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 4rem;
  padding-top: 8rem;
  padding-bottom: 10rem;

}
.service-headings p{
  color: black;
  font-size: 1.2rem;
}
.service-headings button{
  padding: 0.8rem;
  width: 9rem;
  border-radius: 0.5rem;
}
.service-headings button:hover{
  background-color:  hsl(61, 86%, 72%);;
}
.contact-form-container{
  width: 60rem;
  height: 27rem;
  box-shadow: 5px 10px 20px hsl(61, 86%, 72%);
}
.contact-form{
  width: 60rem;
  height: 27rem;
  
}
.contact_form_input{
  width: 19.8rem;
  height: 3.2rem;
  background-color: black;
  color: white;
  padding: 2rem;
  border: hidden;
}
.contact_form_input:focus{
  color: hsl(61, 86%, 72%);;
  outline: none;
  border-bottom: hsl(61, 86%, 72%);

}
.text_field{
width: 59.8rem;
height: 20rem;
color: white;
background-color: black;
padding: 2rem;
border: hidden;
}
.text_field:focus{
  outline: none;

}

.button_contact_submit_button{
  color: white;
  background-color: black;
  margin: 1rem;
  width: 15rem;
}
.button_contact_submit_button:hover{
  color: hsl(61, 86%, 72%);
  background-color: black;
  margin: 1rem;
  width: 15rem;
}
