/* About.css */

.home-container {
    /* Add styles for the outer container if needed */
  }
  
  .about-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Add padding as needed */
  }
  
  .about-container {
    max-width: 600px;
  }
  
  .about-content {
    /* Add styles for the content section */
  }
  
  .about-page-image img {
    max-width: 100%;
    height: auto;
    /* Add styles for the image */
  }
  