/* Add this CSS to your project */

.contact-form-container {
    max-width: 600px;
    margin: auto;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .contact-form-input {
    width: 30%;
    padding: 10px;
    margin-right: 10px;
  }
  
  .text-field {
    width: 100%;
    padding: 10px;
  }
  
  .button-contact-submit {
    background-color: #1EBBD7;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button-contact-submit:hover {
    background-color: #1EBBD7;
  }
  