

.home-container {
  background-color: #1EBBD7;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  .home-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .welcome-note {
    font-size: 24px;
    font-weight: bold;
  }
  
  .welcome-note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .service-container {
    background-color: #1EBBD7;
    padding: 40px 0;
  }
  
  .service_disk {
    background-color:#1EBBD7;;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .service-heading h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .service-item-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .service-box {
    width: 250px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .service-box:hover {
    transform: scale(1.05);
  }
  
  .service-picture-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .service-headings h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .service-headings p {
    color: #fff;
  }
  
  button {
    background-color: #1EBBD7;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #1EBBD7;
  }
  